﻿.navbar {
    border-radius: 0px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 100%;
}


.main-page {
    padding: 50px;
}

.home-btns {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #222222;
    font-size: 30px;
    margin: 20px;
    border: 2px solid #222222;
    transition: background-color .5s, border .5s ;
}

.home-btns:hover  {
    background-color: white;
    
}

.home-btns:hover .home-btns a {
    color: #222222;
}

.home-btns a {
    color: #9d9d9d;
    transition: color .5s;
}

.home-btns a:hover {
    text-decoration:  none;
}


#create-user-form {
    max-width: 500px;
    margin: 0px auto;
}




.blog-post-title {
    font-weight: bold;
}

.blog-post-date {
    color: red;
}













.blog-post-box {
    background-color: #F1F1F1;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
}








/*------ SideNav ------ */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.opennav {
    font-size:30px;
    cursor:pointer
}

#jsMainContent {
    transition: margin-left .5s;
    padding: 16px;
}




